*~
*.pyc
simpleparse
simpleparse/*
.ropeproject
pyinstaller/logdict*
pyinstaller/config.dat
pyinstaller/diceroller
pyinstaller/bincache*
*.pid
.eric4project/
kivy/
\#*
build
installjammer*
logdict*
pyinstaller*
screenshots*
template
webface
*.pyo
